<ion-view view-title="login module">
  <!-- do you want padding? -->
  <ion-content class="padding">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">E-mail</span>
    <input type="text">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password">
  </label>
</div>

<div class="">
  <button class="button button-block button-positive" ng-click="ctrl.login()">
    Log-In
  </button>
</div>

  </ion-content>
</ion-view>
